<div class="card-content">
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>First Names</h4>
    </li>

    <li class="collection-item">
      <div class="collection-content">
        <div class="input-field">
          <input id="icon_prefix" type="text" (focus)="isActiveInput=true" (blur)="isActiveInput=false">

          <label for="icon_prefix" [ngClass]="{'active': isActiveInput}">First Name</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">
            <i class="material-icons">backup</i>
          </button>

          <button class="btn red accent-2 waves-effect waves-light" type="submit" name="action" routerLink="/user">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
