.card{
  &-content{
    padding-top: 0;
  }
}

.collection{
  &-item{
    display: flex;
    align-items: center;

    &--navBar{
      justify-content: center;

      .btn{
        margin: 0 5px;
      }
    }
  }
    &-content{
      flex-grow: 1;
    }
    &-btn{
      margin-left: 5px;
    }
}

.input-loader{
  position: relative;
  margin-top: -17px;
}
  .progress{
    position: absolute;
  }
