<div class="row">
  <div class="col s12">
    <div class="input-field">
      <label class="prefix">
        <i class="material-icons prefix" [ngClass]="{'active': isActiveInput}">find_in_page</i>
      </label>

      <input
        #search
        id="icon_prefix"
        type="text"
        (keyup)="searchKeyUp.next(search.value)"
        (focus)="isActiveInput=true"
        (blur)="!search.value && isActiveInput=false">

      <label for="icon_prefix" [ngClass]="{'active': isActiveInput}">Кол-во символов для начала поиска: {{ activateSearchLength }}</label>
    </div>

    <div class="input-loader">
      <div class="progress blue" [hidden]="!isSearch">
        <div class="indeterminate light-blue lighten-2"></div>
      </div>
    </div>
  </div>
</div>

<div class="card-content">
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Контакты</h4>
    </li>

    <!-- список -->
    <li class="collection-item avatar" *ngFor="let user of userList; index as i">
      <div class="circle" [inlineSVG]="user.avatarUrl"></div>

      <div class="collection-content"> {{ user.name }} </div>

      <div class="collection-btn">
        <button class="btn waves-effect waves-light" type="submit" name="action" routerLink="/user/{{user.id}}">
          <i class="material-icons">border_color</i>
        </button>
      </div>
    </li>

    <li class="collection-item" [hidden]="userList.length">
      Контакты не найдены!
    </li>

    <!-- навигация -->
    <li class="collection-item collection-item--navBar">
      <button
        class="btn blue waves-effect waves-light"
        [disabled]="prev === undefined || search.value.length >= activateSearchLength"
        routerLink="/user" [queryParams]="{page: prev}">
        <i class="material-icons">arrow_back</i>
      </button>

      <button
        class="btn blue waves-effect waves-light"
        [disabled]="next === undefined || search.value.length >= activateSearchLength"
        routerLink="/user" [queryParams]="{page: next}">
        <i class="material-icons">arrow_forward</i>
      </button>
    </li>
  </ul>
</div>
