/* You can add global styles to this file, and also import other style files */
html{
  min-height: 100vh;
}

body{
  background: #025092 url('/assets/images/fon.jpg') no-repeat center center;
  background-size: cover;
}

[hidden], template{
  display: none !important;
}
